{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Quantité</th>
                <th>Date d'ajout</th>
            </tr>
            {% for productAdded in productsAdded %}
            <tr>
                <td>{{ productAdded.id }}</td>
                <td>{{ productAdded.quantity }}</td>
                <td>{{ productAdded.createdAt|date('d-m-Y H:i:s', 'Europe/Paris') }}</td>
            </tr>
            {% endfor %}
        </table>
        <a class="btn btn-outline-primary" href="{{ path('app_product_index') }}">Retour à la liste</a>
    </div>
{% endblock %}