{% extends 'base.html.twig' %}

{% block title %}Utilisateur
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Liste des utilisateurs</h1>
		<table class="table">
			<tr>
				<th>id</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Email</th>
				<th>Rôle</th>
				<th>Action</th>
			</tr>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>{{ user.email }}</td>
					<td>
						{% if ('ROLE_ADMIN' in user.roles) %}
							<span class="text-primary">Administrateur</span>
						{% elseif ('ROLE_EDITOR' in user.roles) %}
							<span class="text-success">Editeur</span>
						{% else %}
							<span class="text-secondary">Client</span>
						{% endif %}
					</td>
					<td>
						<a href="" class="btn btn-danger">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
